<div class="row">
  <div class="column1" style="background-color:#aaa;">
    <%= image_tag("img_avatar.png", width:"150px") %>
  </div>
  <div class="column2" style="background-color:#bbb;">
    <h2><%= user.name %></h2>
    <p class="right">Number of Posts x</p>
  </div>
</div>

<div class="bio">
    <h2><%= user.bio %></h2>
</div>

<div class="post">
    <p> some posts </p>
</div>