
<%#  This view is used for password reset. %>
<p>Hello <%= @resource.email %>!</p>
<p>Your request for change in passowrd is process.</p>
<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>
<p>If you dont initite this. Please change your password for protection.</p>

